
.card{
    text-align: center;
    transition-duration: .1s;
    transition:opacity 1s;
    cursor: pointer;
    display: inline-block;
    width: 120px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(247, 247, 247);
}

.card:hover{
    background-color: rgb(240, 240, 240);
}

.inactive{
    opacity:.5;
}

#GameBoard{
    text-align: right;
}

.fancyFont{
    font-family: 'Patrick Hand SC', cursive;
}

.header{
    font-family: 'Bangers', cursive;

}
