
.card-img{
    cursor: pointer;
    display: inline-block;
    width: 100px;
    margin: 10px;
    border:1px solid black;
    font-family: 'Bangers', cursive;
    padding: 15px;
    background: rgb(231, 231, 231);
    background: -moz-linear-gradient(171deg, rgba(255,255,255,1) 0%, rgba(186,186,186,1) 100%);
    background: -webkit-linear-gradient(171deg, rgba(255,255,255,1) 0%, rgba(186,186,186,1) 100%);
    background: linear-gradient(171deg, rgba(255,255,255,1) 0%, rgba(186,186,186,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#bababa",GradientType=1);
}

.card{
    transition-duration: .1s;
    transition:opacity 1s;
    cursor: pointer;
    display: inline-block;
    width: 120px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(241, 241, 241);

   
}

.card:hover{
    transform: scale(0.95);
}

.inactive{
    opacity:.3;
}

#GameBoard{
    
    text-align: center;
}
