.SinglePlayerPage {
    position: relative;
    top:20px;
    margin:0 auto;
    /* border: 1px solid black; */
    width: 80%;
}

.slide-in.visible {
    opacity: 1;
}
  
.slide-in {
    opacity:0;
    transition: opacity 1s ease-in-out;
  
}

@media only screen and (max-width: 1000px) {
    .SinglePlayerPage {

        width: 90%;
    }
}
