
body{
	background-color: #f6f6f6;

}

.slide-in.visible {
	opacity: 1;
}

.slide-in {
	opacity:0;
	transition: opacity 1s ease-in-out;
}

.intro{
	position: relative;
	text-align: center;
	top: 30px;
}

.App {
	text-align: center;
	height: 100%;
	width: 100%;
	position: absolute; 
}

.header{
	letter-spacing: 5px;
}