body{
	background-color: #f6f6f6;
}

.slide-in.visible {
	opacity: 1;
}

.slide-in {
	opacity:0;
	transition: opacity 1s ease-in-out;
}

.intro{
	width: 50%;
	margin: 0 auto;
	position: relative;
	text-align: center;
	top: 30px;
}

.App {
	text-align: center;
	height: 100%;
	width: 100%;
	position: absolute; 
}

.header{
	letter-spacing: 5px;
}

.chooseTile{
	cursor: pointer;
}

.selected{
	transition:.3s;
	opacity:1;
	transform:scale(1.1);
}

.notSelected{
	transition:.3s;
	opacity:.6;
	transform:scale(1);
}

.chooseTileCol{
	width: 150px;
}

@media only screen and (max-width: 650px) {
    .intro {
        width: 80%;
    }
}
